openapi: 3.0.3
info:
  title: CAB System API
  description: |
    API documentation cho He thong dat xe CAB (CAB Booking System).
    Xay dung tu srs.md - Buoc 8 (Functional Requirements), Buoc 9 (Business Rules & Exceptions).

    ## Cac nhom chuc nang chinh
    - **Auth**: Dang ky, dang nhap, dang xuat
    - **Customers**: Quan ly ho so khach hang
    - **Drivers**: Quan ly ho so va trang thai tai xe
    - **Trips**: Dat xe, theo doi, cap nhat trang thai chuyen di
    - **Payments**: Thanh toan cuoc xe
    - **Notifications**: Thong bao push
    - **Admin**: Quan tri he thong (Users, Trips, Reports, Logs)

    ## Xac thuc
    Su dung JWT Bearer Token. Lay token tu endpoint POST /auth/login.
    Phan quyen: Customer < Driver < Operator < Admin (BR-24, BR-32, RULE-08).

    ## Lien ket nghiep vu (xem chi tiet trong srs.md)
    - FR (Functional Requirements): FR-CUS-01..08, FR-DRV-01..05, FR-SYS-01..06, FR-ADM-01..06
    - BR (Business Rules): BR-01..34
    - RULE / EX (Business Rules & Exceptions): RULE-01..10, EX-01..03
  version: 1.0.1
  contact:
    name: Ho Minh Trong
    email: 23662271@student.hcmute.edu.vn
servers:
  - url: https://api.cabsystem.vn/v1
    description: Production Server
  - url: https://staging-api.cabsystem.vn/v1
    description: Staging Server
  - url: http://localhost:3000/v1
    description: Local Development
security:
  - BearerAuth: []
tags:
  - name: Auth
    description: Xac thuc nguoi dung (dang ky, dang nhap, dang xuat)
  - name: Customers
    description: Quan ly thong tin khach hang
  - name: Drivers
    description: Quan ly tai xe, trang thai, vi tri GPS
  - name: Trips
    description: Dat xe va quan ly chuyen di
  - name: Payments
    description: Thanh toan cuoc xe
  - name: Reviews
    description: Danh gia trai nghiem chuyen di
  - name: Notifications
    description: Thong bao push cho nguoi dung
  - name: Admin - Users
    description: Quan tri tai khoan nguoi dung
  - name: Admin - Trips
    description: Giam sat va quan tri chuyen di
  - name: Admin - Reports
    description: Bao cao thong ke va phan tich
  - name: Admin - Logs
    description: Nhat ky he thong va audit log
paths:
  /auth/register:
    post:
      operationId: registerUser
      tags:
        - Auth
      summary: Dang ky tai khoan
      description: |
        Khach hang hoac tai xe tao tai khoan moi qua SDT/Email.
        Neu role=driver, ho so se o trang thai 'pending' cho den khi Nhan vien van hanh
        duyet ho so/phuong tien (FR-ADM-01).
        Lien quan: FR-CUS-01, FR-DRV-01, BR-01, BR-06, BR-31, RULE-07
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - fullName
                - phone
                - password
                - role
              properties:
                fullName:
                  type: string
                  example: Nguyen Van A
                phone:
                  type: string
                  example: '0901234567'
                email:
                  type: string
                  format: email
                password:
                  type: string
                  format: password
                  minLength: 6
                role:
                  type: string
                  enum:
                    - customer
                    - driver
                  description: Vai tro tai khoan. operator/admin do Nhan vien van hanh cap tao rieng, khong dang ky qua API nay.
      responses:
        '201':
          description: |
            Dang ky thanh cong.
            - role=customer: tai khoan 'active' ngay, co the dang nhap.
            - role=driver: tai khoan 'pending', cho duyet ho so (FR-ADM-01) truoc khi nhan chuyen.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Dang ky thanh cong
                  userId:
                    type: string
                    example: DRV-045
                  status:
                    type: string
                    enum:
                      - active
                      - pending
        '400':
          description: Du lieu khong hop le (SDT/Email da ton tai, mat khau qua yeu, role khong hop le...)
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    enum:
                      - PHONE_ALREADY_EXISTS
                      - EMAIL_ALREADY_EXISTS
                      - WEAK_PASSWORD
                      - INVALID_ROLE
                    example: PHONE_ALREADY_EXISTS
                  message:
                    type: string
                    example: So dien thoai da duoc su dung
  /auth/login:
    post:
      operationId: loginUser
      tags:
        - Auth
      summary: Dang nhap
      description: |
        Xac thuc nguoi dung va tra ve JWT token.
        Lien quan: FR-CUS-01, FR-DRV-01, BR-01, BR-06, BR-31, RULE-07
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - phone
                - password
              properties:
                phone:
                  type: string
                  example: '0901234567'
                password:
                  type: string
                  format: password
      responses:
        '200':
          description: Dang nhap thanh cong
          content:
            application/json:
              schema:
                type: object
                properties:
                  accessToken:
                    type: string
                    description: JWT Bearer token
                  tokenType:
                    type: string
                    example: Bearer
                  expiresIn:
                    type: integer
                    example: 3600
                  role:
                    type: string
                    enum:
                      - customer
                      - driver
                      - operator
                      - admin
        '401':
          description: Sai thong tin dang nhap, hoac tai khoan dang bi khoa/cho duyet
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    enum:
                      - INVALID_CREDENTIALS
                      - ACCOUNT_BANNED
                      - ACCOUNT_PENDING
                    example: INVALID_CREDENTIALS
                  message:
                    type: string
                    example: So dien thoai hoac mat khau khong dung
  /auth/logout:
    post:
      operationId: logoutUser
      tags:
        - Auth
      summary: Dang xuat
      description: |
        Huy token hien tai cua nguoi dung.
        Lien quan: BR-31, RULE-07
      security:
        - BearerAuth: []
      responses:
        '200':
          description: Dang xuat thanh cong
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Dang xuat thanh cong
        '401':
          $ref: '#/components/responses/Unauthorized'
  /customers/me:
    get:
      operationId: getCustomerProfile
      tags:
        - Customers
      summary: Lay thong tin ca nhan khach hang
      description: |
        Tra ve thong tin ho so cua khach hang dang dang nhap.
        Lien quan: FR-CUS-02, BR-01
      security:
        - BearerAuth: []
      responses:
        '200':
          description: Thanh cong
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Customer'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          description: Token hop le nhung khong phai tai khoan khach hang
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    patch:
      operationId: updateCustomerProfile
      tags:
        - Customers
      summary: Cap nhat thong tin ca nhan
      description: |
        Cap nhat Ten, Email cua khach hang (khong cho doi SDT vi day la dinh danh dang nhap).
        Lien quan: FR-CUS-02, BR-01
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                fullName:
                  type: string
                  example: Nguyen Van A
                email:
                  type: string
                  format: email
      responses:
        '200':
          description: Cap nhat thanh cong
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Customer'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /drivers/me:
    get:
      operationId: getDriverProfile
      tags:
        - Drivers
      summary: Lay thong tin ho so tai xe
      description: |
        Tra ve thong tin ca nhan va phuong tien cua tai xe.
        Lien quan: FR-DRV-01, BR-06
      security:
        - BearerAuth: []
      responses:
        '200':
          description: Thanh cong
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Driver'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          description: Token hop le nhung khong phai tai khoan tai xe
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    patch:
      operationId: updateDriverProfile
      tags:
        - Drivers
      summary: Cap nhat ho so tai xe
      description: |
        Cap nhat thong tin ca nhan va phuong tien.
        Neu cap nhat phuong tien lan dau/thay doi bien so, ho so co the chuyen lai
        trang thai 'pending' de Nhan vien van hanh duyet (FR-ADM-01).
        Lien quan: FR-DRV-01, BR-06
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                fullName:
                  type: string
                vehicle:
                  type: object
                  properties:
                    licensePlate:
                      type: string
                      example: 51A-12345
                    vehicleType:
                      type: string
                      enum:
                        - 4_seat
                        - 7_seat
                        - motorbike
                    brand:
                      type: string
                    color:
                      type: string
      responses:
        '200':
          description: Cap nhat thanh cong
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Driver'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /drivers/me/availability:
    patch:
      operationId: updateDriverAvailability
      tags:
        - Drivers
      summary: Bat/Tat trang thai san sang nhan chuyen
      description: |
        Tai xe chuyen doi giua Online (san sang) va Offline (nghi).
        Chi tai xe co trang thai Online moi duoc phan cong chuyen (RULE-01).
        Khong cho chuyen ve Offline khi dang co chuyen (in_trip).
        Lien quan: FR-DRV-02, BR-07, RULE-01
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - status
              properties:
                status:
                  type: string
                  enum:
                    - online
                    - offline
                  description: online = san sang nhan chuyen; offline = nghi
      responses:
        '200':
          description: Cap nhat trang thai thanh cong
          content:
            application/json:
              schema:
                type: object
                properties:
                  availabilityStatus:
                    type: string
                    enum:
                      - online
                      - offline
        '400':
          description: Khong the chuyen Offline khi dang trong chuyen di (in_trip)
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    example: DRIVER_IN_TRIP
                  message:
                    type: string
                    example: Khong the chuyen sang Offline khi dang thuc hien chuyen di
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          description: Token hop le nhung khong phai tai khoan tai xe, hoac ho so dang 'pending'/'banned'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /drivers/me/location:
    put:
      operationId: updateDriverLocation
      tags:
        - Drivers
      summary: Cap nhat vi tri GPS cua tai xe
      description: |
        App tai xe goi dinh ky (VD: moi 3 giay) de cap nhat toa do GPS (FR-DRV-05).
        He thong dung thong tin nay lam tieu chi "vi tri" khi xac dinh tai xe phu hop
        (RULE-02) va tinh ETA cho khach hang theo doi chuyen (FR-CUS-05).
        Lien quan: FR-DRV-05, BR-10, RULE-02
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Location'
      responses:
        '200':
          description: Cap nhat vi tri thanh cong
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Da cap nhat vi tri
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /trips:
    post:
      operationId: createTrip
      tags:
        - Trips
      summary: Tao yeu cau dat xe
      description: |
        Khach hang nhap diem don, diem den, chon loai xe va gui yeu cau.
        He thong tao Trip voi trang thai 'finding' va bat dau thuat toan Dispatching
        (tim tai xe Online, gan nhat - RULE-02). Neu tai xe duoc de xuat khong phan hoi/tu
        choi, he thong tu dong tim tai xe ke tiep (FR-SYS-02) ma khong can khach tao lai
        yeu cau (EX-01). Neu khong tim duoc tai xe nao, tra ve 404 (EX-02).
        Lien quan: FR-CUS-03, FR-CUS-04, FR-SYS-01, FR-SYS-02, FR-SYS-03, BR-02, BR-11, RULE-02
        Use Case: UC-CUS-02, AC-04
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - pickupLat
                - pickupLng
                - dropoffLat
                - dropoffLng
                - vehicleType
              properties:
                pickupLat:
                  type: number
                  format: double
                  example: 10.7769
                pickupLng:
                  type: number
                  format: double
                  example: 106.7009
                dropoffLat:
                  type: number
                  format: double
                  example: 10.7851
                dropoffLng:
                  type: number
                  format: double
                  example: 106.694
                vehicleType:
                  type: string
                  enum:
                    - 4_seat
                    - 7_seat
                    - motorbike
                  description: Loai xe khach chon. Gia cuoc du kien tra ve theo loai nay (FR-CUS-04).
                paymentMethod:
                  type: string
                  enum:
                    - cash
                    - e_wallet
                    - credit_card
                  default: cash
                  description: Phuong thuc thanh toan du kien, co the doi lai luc thanh toan (FR-CUS-06).
      responses:
        '201':
          description: Tao chuyen thanh cong, dang tim tai xe
          content:
            application/json:
              schema:
                type: object
                properties:
                  tripId:
                    type: string
                    example: TRIP-001
                  status:
                    type: string
                    example: finding
                  estimatedFare:
                    type: number
                    example: 45000
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          description: Khong tim thay tai xe nao san sang trong khu vuc (EX-02, RULE cho FR-SYS-03)
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    example: NO_DRIVER_AVAILABLE
                  message:
                    type: string
                    example: Hien khong co xe tai khu vuc nay
    get:
      operationId: listCustomerTrips
      tags:
        - Trips
      summary: Xem lich su chuyen di cua khach hang
      description: |
        Tra ve danh sach chuyen di da thuc hien (hoan thanh/da huy) kem cuoc phi.
        Lien quan: FR-CUS-07, BR-04
      security:
        - BearerAuth: []
      parameters:
        - name: status
          in: query
          schema:
            type: string
            enum:
              - completed
              - cancelled
        - name: page
          in: query
          schema:
            type: integer
            default: 1
        - name: limit
          in: query
          schema:
            type: integer
            default: 10
      responses:
        '200':
          description: Thanh cong
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Trip'
                  total:
                    type: integer
                  page:
                    type: integer
        '401':
          $ref: '#/components/responses/Unauthorized'
  /trips/{tripId}:
    get:
      operationId: getTripDetail
      tags:
        - Trips
      summary: Lay chi tiet mot chuyen di
      description: |
        Xem thong tin chi tiet chuyen di: vi tri, trang thai, tai xe, ETA.
        Dung de hien thi man hinh Tracking real-time (FR-CUS-05). Client nen goi lai
        (polling) dinh ky de cap nhat vi tri tai xe/ETA trong luc chuyen dang dien ra.
        Lien quan: FR-CUS-05, BR-03
        Use Case: UC-CUS-03
      security:
        - BearerAuth: []
      parameters:
        - name: tripId
          in: path
          required: true
          schema:
            type: string
          example: TRIP-001
      responses:
        '200':
          description: Thanh cong
          content:
            application/json:
              schema:
                type: object
                properties:
                  tripId:
                    type: string
                    example: TRIP-001
                  status:
                    type: string
                    enum:
                      - finding
                      - assigned
                      - arrived
                      - in_progress
                      - completed
                      - cancelled
                  pickupLocation:
                    $ref: '#/components/schemas/Location'
                  dropoffLocation:
                    $ref: '#/components/schemas/Location'
                  driver:
                    type: object
                    nullable: true
                    description: Null khi status='finding' (chua co tai xe).
                    properties:
                      driverId:
                        type: string
                      fullName:
                        type: string
                      phone:
                        type: string
                      currentLocation:
                        $ref: '#/components/schemas/Location'
                      eta:
                        type: integer
                        description: 'Thoi gian du kien den (giay). Lien quan: FR-CUS-05.'
                  estimatedFare:
                    type: number
                  actualFare:
                    type: number
                    nullable: true
                    description: Chi co gia tri sau khi status='completed' (RULE-03).
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /trips/{tripId}/status:
    patch:
      operationId: updateTripStatus
      tags:
        - Trips
      summary: Cap nhat trang thai chuyen di (Tai xe)
      description: |
        Tai xe cap nhat tuan tu: arrived -> in_progress -> completed. Khong duoc nhay coc
        (AC-01). Moi lan cap nhat kich hoat Push Notification cho khach hang trong vong
        2 giay (AC-02).
        Lien quan: FR-DRV-04, BR-09, RULE-05, RULE-06
        Use Case: UC-DRV-04, AC-01 (rang buoc tuan tu), AC-02 (dong bo 2s)
      security:
        - BearerAuth: []
      parameters:
        - name: tripId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - status
              properties:
                status:
                  type: string
                  enum:
                    - arrived
                    - in_progress
                    - completed
                  description: |
                    - arrived: Tai xe da den diem don
                    - in_progress: Da don khach, dang di chuyen
                    - completed: Hoan thanh chuyen (kich hoat tinh cuoc - FR-SYS-04)
      responses:
        '200':
          description: Cap nhat trang thai thanh cong
          content:
            application/json:
              schema:
                type: object
                properties:
                  tripId:
                    type: string
                  newStatus:
                    type: string
                  actualFare:
                    type: number
                    nullable: true
                    description: Chi tra ve khi newStatus=completed (FR-SYS-04).
        '400':
          description: Trang thai khong hop le (sai thu tu, VD nhay coc tu 'arrived' sang 'completed')
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    example: INVALID_STATUS_TRANSITION
                  message:
                    type: string
                    example: 'Phai cap nhat theo thu tu: arrived -> in_progress -> completed'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          description: Khong phai tai xe duoc gan cho chuyen nay
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          $ref: '#/components/responses/NotFound'
  /trips/{tripId}/accept:
    post:
      operationId: acceptTrip
      tags:
        - Trips
      summary: Tai xe chap nhan chuyen
      description: |
        Tai xe bam chap nhan yeu cau chuyen di trong thoi gian dem nguoc (AC-02).
        He thong gan DriverID vao Trip, trang thai chuyen sang 'assigned'.
        Lien quan: FR-DRV-03, BR-08, RULE-01
        Use Case: UC-DRV-03, AC-02
      security:
        - BearerAuth: []
      parameters:
        - name: tripId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Chap nhan chuyen thanh cong
          content:
            application/json:
              schema:
                type: object
                properties:
                  tripId:
                    type: string
                  status:
                    type: string
                    example: assigned
                  pickupLocation:
                    $ref: '#/components/schemas/Location'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          description: Khong phai tai xe duoc he thong de xuat cho chuyen nay
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          description: Chuyen da het thoi gian de xuat hoac da duoc tai xe khac nhan (EX-01)
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    example: TRIP_ALREADY_ASSIGNED
                  message:
                    type: string
                    example: Chuyen nay da duoc tai xe khac nhan
  /trips/{tripId}/reject:
    post:
      operationId: rejectTrip
      tags:
        - Trips
      summary: Tai xe tu choi chuyen
      description: |
        Tai xe bam tu choi yeu cau (hoac het thoi gian dem nguoc - AC-03 xu ly tuong tu).
        He thong tu dong day yeu cau cho tai xe phu hop tiep theo (FR-SYS-02), khach hang
        khong can tao lai yeu cau (EX-01).
        Lien quan: FR-SYS-02, BR-12, EX-01
        Use Case: UC-DRV-03 (Ngoai le A1), AC-03
      security:
        - BearerAuth: []
      parameters:
        - name: tripId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Tu choi chuyen, he thong tim tai xe khac
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Da tu choi. He thong dang tim tai xe khac.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /trips/{tripId}/review:
    post:
      operationId: reviewTrip
      tags:
        - Reviews
      summary: Khach hang danh gia tai xe
      description: |
        Gui danh gia (1-5 sao) va nhan xet sau khi chuyen hoan thanh. Chi ap dung cho
        chuyen o trang thai 'completed' va chua duoc danh gia truoc do.
        Lien quan: FR-CUS-08, BR-05
        Use Case: UC-CUS-05
      security:
        - BearerAuth: []
      parameters:
        - name: tripId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - rating
              properties:
                rating:
                  type: integer
                  minimum: 1
                  maximum: 5
                  example: 5
                comment:
                  type: string
                  example: Tai xe lai xe tot, dung gio
      responses:
        '201':
          description: Danh gia thanh cong
          content:
            application/json:
              schema:
                type: object
                properties:
                  reviewId:
                    type: string
                  message:
                    type: string
                    example: Cam on danh gia cua ban!
        '400':
          description: Chuyen chua hoan thanh hoac da duoc danh gia truoc do
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    enum:
                      - TRIP_NOT_COMPLETED
                      - ALREADY_REVIEWED
                    example: ALREADY_REVIEWED
                  message:
                    type: string
                    example: Chuyen nay da duoc danh gia
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /payments/{tripId}:
    get:
      operationId: getPayment
      tags:
        - Payments
      summary: Lay thong tin thanh toan cua chuyen
      description: |
        Xem thong tin hoa don: so tien, trang thai, phuong thuc.
        Lien quan: FR-SYS-04, BR-14, BR-15, RULE-03
        Use Case: UC-CUS-04, AC-01
      security:
        - BearerAuth: []
      parameters:
        - name: tripId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Thanh cong
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Payment'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    post:
      operationId: createPayment
      tags:
        - Payments
      summary: Thuc hien thanh toan
      description: |
        Khach hang xac nhan thanh toan (tien mat hoac dien tu). Neu dien tu: goi API
        cong thanh toan ben ngoai qua paymentToken (tu SDK cong thanh toan), khong luu
        thong tin the/tai khoan thanh toan trong he thong CAB (RULE-04). Neu tien mat:
        cho tai xe xac nhan da thu tien thi moi dong hoa don (AC-04).
        Lien quan: FR-SYS-05, BR-15, BR-16, BR-17, RULE-04
        Use Case: UC-CUS-04, AC-02, AC-04
      security:
        - BearerAuth: []
      parameters:
        - name: tripId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - method
              properties:
                method:
                  type: string
                  enum:
                    - cash
                    - e_wallet
                    - credit_card
                paymentToken:
                  type: string
                  description: 'Token tu SDK cong thanh toan (khong phai so the thuc). Bat buoc neu method != cash. Lien quan: RULE-04.'
      responses:
        '200':
          description: Thanh toan thanh cong (hoac da ghi nhan cho tai xe xac nhan neu method=cash)
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    enum:
                      - pending
                      - success
                    example: success
                  transactionId:
                    type: string
                    nullable: true
                  message:
                    type: string
                    example: Thanh toan thanh cong
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          description: Thanh toan that bai - giao dich bi cong thanh toan tu choi (EX-03)
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    example: PAYMENT_FAILED
                  message:
                    type: string
                    example: Giao dich bi tu choi. Vui long thu lai hoac chon phuong thuc khac.
        '404':
          $ref: '#/components/responses/NotFound'
  /payments/{tripId}/retry:
    post:
      operationId: retryPayment
      tags:
        - Payments
      summary: Thu lai thanh toan
      description: |
        Khach hang thu lai thanh toan (co the doi phuong thuc khac) sau khi giao dich
        dien tu that bai lan truoc (AC-03).
        Lien quan: FR-SYS-05, BR-17, EX-03
        Use Case: UC-CUS-04, AC-03
      security:
        - BearerAuth: []
      parameters:
        - name: tripId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - method
              properties:
                method:
                  type: string
                  enum:
                    - cash
                    - e_wallet
                    - credit_card
                paymentToken:
                  type: string
                  description: Bat buoc neu method != cash.
      responses:
        '200':
          description: Thanh toan thanh cong
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: success
                  transactionId:
                    type: string
                    nullable: true
                  message:
                    type: string
                    example: Thanh toan thanh cong
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          description: Thanh toan that bai lan nua (EX-03)
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    example: PAYMENT_FAILED
                  message:
                    type: string
                    example: Giao dich bi tu choi. Vui long thu lai hoac chon phuong thuc khac.
        '404':
          $ref: '#/components/responses/NotFound'
  /notifications:
    get:
      operationId: listNotifications
      tags:
        - Notifications
      summary: Lay danh sach thong bao cua nguoi dung
      description: |
        Lay tat ca thong bao cua khach hang hoac tai xe dang dang nhap.
        5 moc thong bao bat buoc cho khach hang (RULE-05): yeu cau duoc tiep nhan,
        co tai xe nhan chuyen, tai xe den diem don, chuyen hoan thanh, ket qua thanh toan.
        Thong bao cho tai xe (RULE-06): chuyen moi, thay doi lien quan chuyen dang thuc hien.
        Lien quan: FR-SYS-06, BR-18, BR-19, BR-20, RULE-05, RULE-06
      security:
        - BearerAuth: []
      parameters:
        - name: unreadOnly
          in: query
          schema:
            type: boolean
            default: false
        - name: page
          in: query
          schema:
            type: integer
            default: 1
      responses:
        '200':
          description: Thanh cong
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Notification'
                  total:
                    type: integer
        '401':
          $ref: '#/components/responses/Unauthorized'
  /admin/users:
    get:
      operationId: listUsers
      tags:
        - Admin - Users
      summary: Danh sach tat ca nguoi dung
      description: |
        Nhan vien van hanh/Admin xem danh sach khach hang va tai xe, co bo loc.
        status=pending dung de loc ho so tai xe cho duyet (FR-ADM-01).
        Lien quan: FR-ADM-01, BR-21, RULE-08
      security:
        - BearerAuth: []
      parameters:
        - name: role
          in: query
          schema:
            type: string
            enum:
              - customer
              - driver
        - name: status
          in: query
          schema:
            type: string
            enum:
              - active
              - pending
              - banned
        - name: search
          in: query
          schema:
            type: string
          description: Tim theo ten hoac SDT
        - name: page
          in: query
          schema:
            type: integer
            default: 1
        - name: limit
          in: query
          schema:
            type: integer
            default: 20
      responses:
        '200':
          description: Thanh cong
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        userId:
                          type: string
                        fullName:
                          type: string
                        phone:
                          type: string
                        role:
                          type: string
                          enum:
                            - customer
                            - driver
                        status:
                          type: string
                          enum:
                            - active
                            - pending
                            - banned
                  total:
                    type: integer
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
  /admin/users/{userId}:
    get:
      operationId: getUserDetail
      tags:
        - Admin - Users
      summary: Chi tiet nguoi dung
      description: |
        Xem thong tin chi tiet tai khoan (bao gom ho so phuong tien neu la tai xe).
        Lien quan: FR-ADM-01, BR-21
      security:
        - BearerAuth: []
      parameters:
        - name: userId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Thanh cong
          content:
            application/json:
              schema:
                type: object
                properties:
                  userId:
                    type: string
                  fullName:
                    type: string
                  phone:
                    type: string
                  email:
                    type: string
                    nullable: true
                  role:
                    type: string
                    enum:
                      - customer
                      - driver
                  status:
                    type: string
                    enum:
                      - active
                      - pending
                      - banned
                  vehicle:
                    type: object
                    nullable: true
                    allOf:
                      - $ref: '#/components/schemas/Vehicle'
                    description: Chi co gia tri khi role=driver.
                  createdAt:
                    type: string
                    format: date-time
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    patch:
      operationId: updateUserStatus
      tags:
        - Admin - Users
      summary: Cap nhat trang thai tai khoan (Duyet ho so / Khoa / Mo khoa)
      description: |
        Nhan vien van hanh cap nhat trang thai tai khoan khach hang/tai xe:
        - status=active: duyet ho so tai xe dang 'pending' (FR-ADM-01), hoac mo khoa tai khoan dang 'banned'.
        - status=banned: khoa tai khoan.
        Thao tac nay duoc luu vao Audit Log (RULE-10).
        Lien quan: FR-ADM-01, BR-21, BR-34, RULE-08, RULE-10
      security:
        - BearerAuth: []
      parameters:
        - name: userId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - status
              properties:
                status:
                  type: string
                  enum:
                    - active
                    - banned
                reason:
                  type: string
                  nullable: true
                  example: Ho so phuong tien hop le, duyet hoat dong
      responses:
        '200':
          description: Cap nhat thanh cong
          content:
            application/json:
              schema:
                type: object
                properties:
                  userId:
                    type: string
                  status:
                    type: string
                    enum:
                      - active
                      - banned
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /admin/trips:
    get:
      operationId: listAdminTrips
      tags:
        - Admin - Trips
      summary: Danh sach chuyen di (Giam sat)
      description: |
        Dashboard giam sat chuyen dang dien ra va tra cuu lich su/giao dich (FR-ADM-03).
        Lien quan: FR-ADM-02, FR-ADM-03, BR-22, BR-23
      security:
        - BearerAuth: []
      parameters:
        - name: status
          in: query
          schema:
            type: string
            enum:
              - finding
              - assigned
              - arrived
              - in_progress
              - completed
              - cancelled
        - name: startDate
          in: query
          schema:
            type: string
            format: date
        - name: endDate
          in: query
          schema:
            type: string
            format: date
        - name: driverId
          in: query
          schema:
            type: string
        - name: customerId
          in: query
          schema:
            type: string
        - name: page
          in: query
          schema:
            type: integer
            default: 1
      responses:
        '200':
          description: Thanh cong
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Trip'
                  total:
                    type: integer
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
  /admin/trips/{tripId}/cancel:
    post:
      operationId: cancelTripByAdmin
      tags:
        - Admin - Trips
      summary: Huy khan cap mot chuyen di
      description: |
        Nhan vien van hanh/Admin can thiep huy chuyen dang bi loi (VD: khach report,
        xe dung im qua lau). He thong gui thong bao ngay cho ca tai xe va khach hang
        (AC-02). Thao tac luu Audit Log: AdminID, TripID, action, timestamp (AC-03).
        Chi ap dung khi chuyen chua 'completed'.
        Lien quan: FR-ADM-02, BR-22, BR-34, RULE-10
        Use Case: UC-ADM-02, AC-01 (bao mat truy cap), AC-02, AC-03
      security:
        - BearerAuth: []
      parameters:
        - name: tripId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - reason
              properties:
                reason:
                  type: string
                  example: Tai xe gap su co, khong the tiep tuc
      responses:
        '200':
          description: Huy chuyen thanh cong
          content:
            application/json:
              schema:
                type: object
                properties:
                  tripId:
                    type: string
                  status:
                    type: string
                    example: cancelled
                  message:
                    type: string
                    example: Da huy chuyen va thong bao cho cac ben
        '400':
          description: Chuyen da hoan thanh, khong the huy
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    example: TRIP_ALREADY_COMPLETED
                  message:
                    type: string
                    example: Chuyen da hoan thanh, khong the huy
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          description: Khong du quyen (chi SuperAdmin/Operator - AC-01 bao mat truy cap)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          $ref: '#/components/responses/NotFound'
  /admin/reports:
    get:
      operationId: getReports
      tags:
        - Admin - Reports
      summary: Xuat bao cao thong ke
      description: |
        Bao cao so chuyen, doanh thu, ty le hoan thanh, ty le huy, hieu suat tai xe
        theo khoang thoi gian (RULE-09 - cac chi so bat buoc). Phuc vu Ban lanh dao
        ra quyet dinh (BG-08).
        Lien quan: FR-ADM-05, BR-25, RULE-09
      security:
        - BearerAuth: []
      parameters:
        - name: startDate
          in: query
          required: true
          schema:
            type: string
            format: date
          example: '2026-01-01'
        - name: endDate
          in: query
          required: true
          schema:
            type: string
            format: date
          example: '2026-09-09'
        - name: type
          in: query
          schema:
            type: string
            enum:
              - overview
              - revenue
              - driver_performance
              - cancellation
            default: overview
      responses:
        '200':
          description: Thanh cong
          content:
            application/json:
              schema:
                type: object
                properties:
                  period:
                    type: object
                    properties:
                      from:
                        type: string
                        format: date
                      to:
                        type: string
                        format: date
                  totalTrips:
                    type: integer
                    example: 1520
                  completedTrips:
                    type: integer
                    example: 1380
                  cancelledTrips:
                    type: integer
                    example: 140
                  completionRate:
                    type: number
                    example: 90.79
                    description: Ty le hoan thanh (%). RULE-09.
                  cancellationRate:
                    type: number
                    example: 9.21
                    description: Ty le huy (%). RULE-09.
                  totalRevenue:
                    type: number
                    example: 62100000
                    description: Tong doanh thu (VND). RULE-09.
                  topDrivers:
                    type: array
                    description: Hieu qua hoat dong tai xe. RULE-09.
                    items:
                      type: object
                      properties:
                        driverId:
                          type: string
                        fullName:
                          type: string
                        completedTrips:
                          type: integer
                        avgRating:
                          type: number
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
  /admin/logs:
    get:
      operationId: listLogs
      tags:
        - Admin - Logs
      summary: Xem System Log va Audit Log
      description: |
        Tra cuu nhat ky thao tac cua admin va loi he thong nghiem trong.
        Lien quan: FR-ADM-06, BR-33, BR-34, RULE-10
        Use Case: UC-ADM-02, AC-03
      security:
        - BearerAuth: []
      parameters:
        - name: type
          in: query
          schema:
            type: string
            enum:
              - audit
              - system_error
            default: audit
        - name: adminId
          in: query
          schema:
            type: string
        - name: startDate
          in: query
          schema:
            type: string
            format: date
        - name: endDate
          in: query
          schema:
            type: string
            format: date
        - name: page
          in: query
          schema:
            type: integer
            default: 1
      responses:
        '200':
          description: Thanh cong
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/AuditLog'
                  total:
                    type: integer
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: |
        JWT token lay tu POST /auth/login (hoac /auth/register).
        Bat buoc cho tat ca API tru /auth/register va /auth/login.
        Lien quan: BR-31, RULE-07.
  schemas:
    Customer:
      type: object
      description: Khach hang (Customer). ERD Buoc 10, BR-01.
      properties:
        customerId:
          type: string
          example: CUS-001
        fullName:
          type: string
          example: Nguyen Van A
        phone:
          type: string
          example: '0901234567'
        email:
          type: string
          format: email
          nullable: true
        status:
          type: string
          enum:
            - active
            - banned
          description: Trang thai tai khoan (Buoc 10 ERD).
    Driver:
      type: object
      description: Tai xe (Driver). ERD Buoc 10, BR-06.
      properties:
        driverId:
          type: string
          example: DRV-001
        fullName:
          type: string
          example: Tran Van B
        phone:
          type: string
          example: '0909876543'
        status:
          type: string
          enum:
            - active
            - pending
            - banned
          description: |
            Trang thai tai khoan/ho so:
            - pending: Ho so/phuong tien dang cho Nhan vien van hanh duyet (FR-ADM-01)
            - active: Da duoc duyet, hoat dong binh thuong
            - banned: Bi khoa
        availabilityStatus:
          type: string
          enum:
            - online
            - offline
            - in_trip
          description: 'Trang thai san sang nhan chuyen. Lien quan: FR-DRV-02, BR-07, RULE-01.'
        currentLocation:
          type: object
          nullable: true
          allOf:
            - $ref: '#/components/schemas/Location'
          description: 'Vi tri GPS gan nhat. Null neu tai xe chua tung gui vi tri. Lien quan: FR-DRV-05, BR-10.'
        vehicle:
          type: object
          nullable: true
          allOf:
            - $ref: '#/components/schemas/Vehicle'
          description: Phuong tien dang dang ky. Null neu chua khai bao phuong tien.
    Location:
      type: object
      description: Toa do GPS (Buoc 10 ERD - PickupLocation/DropoffLocation/CurrentLocation).
      required:
        - lat
        - lng
      properties:
        lat:
          type: number
          format: double
          example: 10.7769
        lng:
          type: number
          format: double
          example: 106.7009
    Vehicle:
      type: object
      description: Phuong tien cua tai xe (Buoc 10 ERD).
      properties:
        vehicleId:
          type: string
          example: VEH-001
        licensePlate:
          type: string
          example: 51A-12345
        vehicleType:
          type: string
          enum:
            - 4_seat
            - 7_seat
            - motorbike
        brand:
          type: string
          example: Toyota Vios
        color:
          type: string
          example: Trang
    Trip:
      type: object
      description: 'Chuyen di (Buoc 10 ERD). Lien quan: BR-02, BR-03, BR-09, BR-14.'
      properties:
        tripId:
          type: string
          example: TRIP-001
        customerId:
          type: string
        driverId:
          type: string
          nullable: true
          description: Null khi chuyen dang o trang thai 'finding' (chua co tai xe).
        vehicleType:
          type: string
          enum:
            - 4_seat
            - 7_seat
            - motorbike
        pickupLocation:
          $ref: '#/components/schemas/Location'
        dropoffLocation:
          $ref: '#/components/schemas/Location'
        estimatedFare:
          type: number
          format: float
          description: 'Gia cuoc du kien, hien thi truoc khi khach xac nhan dat xe. Lien quan: FR-CUS-04.'
        actualFare:
          type: number
          format: float
          nullable: true
          description: 'Gia cuoc thuc te, chi co sau khi chuyen ''completed''. Lien quan: FR-SYS-04, RULE-03.'
        status:
          type: string
          enum:
            - finding
            - assigned
            - arrived
            - in_progress
            - completed
            - cancelled
          description: |
            Luong trang thai chuyen di (Buoc 6 Business Process, BR-09):
            finding -> assigned -> arrived -> in_progress -> completed
            (hoac -> cancelled tai bat ky buoc nao truoc completed)
        createdAt:
          type: string
          format: date-time
    Payment:
      type: object
      description: 'Thanh toan (Buoc 10 ERD). Lien quan: BR-14, BR-15, BR-16, BR-17.'
      properties:
        paymentId:
          type: string
          example: PAY-001
        tripId:
          type: string
        method:
          type: string
          enum:
            - cash
            - e_wallet
            - credit_card
        amount:
          type: number
          format: float
          example: 45000
        status:
          type: string
          enum:
            - pending
            - success
            - failed
        transactionId:
          type: string
          nullable: true
          description: 'Ma giao dich tra ve tu nha cung cap thanh toan ben ngoai. Null neu method=cash. Lien quan: BR-16, RULE-04.'
        paymentDate:
          type: string
          format: date-time
          nullable: true
    Review:
      type: object
      description: 'Danh gia tai xe sau chuyen (Buoc 10 ERD). Lien quan: BR-05.'
      properties:
        reviewId:
          type: string
          example: REV-001
        tripId:
          type: string
        customerId:
          type: string
        driverId:
          type: string
        rating:
          type: integer
          minimum: 1
          maximum: 5
        comment:
          type: string
          nullable: true
        createdAt:
          type: string
          format: date-time
    Notification:
      type: object
      description: |
        Thong bao day cho khach hang/tai xe. Lien quan: FR-SYS-06, BR-18, BR-19, BR-20, RULE-05, RULE-06.
      properties:
        notificationId:
          type: string
          example: NOTI-001
        recipientRole:
          type: string
          enum:
            - customer
            - driver
          description: 'Nguoi nhan thong bao nay (BR-18: khach hang / BR-19: tai xe).'
        type:
          type: string
          enum:
            - request_received
            - driver_assigned
            - driver_arrived
            - trip_completed
            - payment_result
            - new_trip_request
            - trip_cancelled
          description: |
            5 moc thong bao bat buoc cho khach hang (RULE-05):
            (1) request_received - yeu cau duoc tiep nhan
            (2) driver_assigned - co tai xe nhan chuyen
            (3) driver_arrived - tai xe da den diem don
            (4) trip_completed - chuyen hoan thanh
            (5) payment_result - co ket qua thanh toan

            Thong bao cho tai xe (RULE-06):
            - new_trip_request - co chuyen moi phu hop
            - trip_cancelled - chuyen dang thuc hien bi thay doi/huy (VD: Admin huy khan cap)
        title:
          type: string
          example: Tai xe da nhan chuyen
        body:
          type: string
          example: Tai xe Tran Van B (51A-12345) dang tren duong den diem don.
        tripId:
          type: string
          nullable: true
          description: Chuyen di lien quan (neu co).
        isRead:
          type: boolean
          default: false
        createdAt:
          type: string
          format: date-time
    AuditLog:
      type: object
      description: |
        Nhat ky thao tac quan tri (Audit Log). Lien quan: FR-ADM-06, BR-33, BR-34, RULE-10.
      properties:
        logId:
          type: string
          example: LOG-001
        adminId:
          type: string
          description: Nguoi thuc hien thao tac (Nhan vien van hanh/Admin).
        action:
          type: string
          example: CANCEL_TRIP
          description: 'Ma hanh dong, VD: CANCEL_TRIP, LOCK_USER, UNLOCK_USER, UPDATE_USER...'
        targetId:
          type: string
          description: TripID, UserID... tuy theo action.
        detail:
          type: string
          nullable: true
        timestamp:
          type: string
          format: date-time
    ErrorResponse:
      type: object
      description: Cau truc loi chung, dung cho hau het cac response 4xx.
      properties:
        code:
          type: string
          example: UNAUTHORIZED
        message:
          type: string
          example: Token khong hop le hoac da het han
  responses:
    Unauthorized:
      description: |
        Chua xac thuc hoac token het han/khong hop le.
        Lien quan: BR-31, RULE-07 (bat buoc xac thuc truoc khi dung chuc nang can tai khoan).
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    Forbidden:
      description: |
        Da xac thuc nhung khong du quyen thuc hien thao tac nay
        (VD: sai vai tro, hoac Nhan vien van hanh khong co quyen chuc nang nhay cam).
        Lien quan: BR-24, BR-32, RULE-08 (kiem soat quyen truy cap quan tri).
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    NotFound:
      description: Khong tim thay tai nguyen (ID khong ton tai hoac khong thuoc ve nguoi dung hien tai).
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    BadRequest:
      description: Du lieu dau vao khong hop le (sai kieu, thieu truong bat buoc, sai gia tri enum...).
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
